@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* style.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  margin: 10px;
}

/* Global Styles */
body {
  font-family: "Montserrat", sans-serif;
  margin: 5px;
  padding: 1px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Hero Section */
.hero {
  background-color: #f4f4f4;
  padding: 50px 0;
  text-align: center;
}

.gambar {
  width: 150px;
}

/* Product Section */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.product img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

/* Login and Register Section */
.login,
.register {
  text-align: center;
  padding: 20px;
}

.login input,
.register input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login button,
.register button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.register-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #0056b3;
}

/* Profile Section */
.profile {
  text-align: center;
  padding: 20px;
}

.profile a {
  display: block;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
}

.profile a:hover {
  text-decoration: underline;
}

.media-sosial {
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 5px;
}

/* youtube */
.links-youtube {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  border: solid red;
  border-width: 2px;
  width: 100px;
  display: flex; /* Membuat container menjadi flex container */
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  font-size: 15px;
}

.links-youtube:hover {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #ed213a;
  background-color: -webkit-linear-gradient(to right, #93291e, #ed213a);
  background-color: linear-gradient(to right, #93291e, #ed213a);
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 80px;
  font-size: 15px;
  color: white;
}
/* youtube */

/* instagram */
.links-instagram {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  border: solid purple;
  border-width: 2px;
  width: 100px;
  display: flex; /* Membuat container menjadi flex container */
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  font-size: 15px;
}

.links-instagram:hover {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background: #833ab4;
  background: -webkit-linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);

  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 80px;
  font-size: 15px;
  color: white;
}
/* instagram */

/* telegram */
.links-telegram {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  border: solid darkcyan;
  border-width: 2px;
  width: 100px;
  display: flex; /* Membuat container menjadi flex container */
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  font-size: 15px;
}

.links-telegram:hover {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background: #0689b9;
  background: -webkit-linear-gradient(to top, #0689b9, #0689b9, #0689b9);
  background: linear-gradient(to top, #fff, #0689b9, #0689b9);

  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 80px;
  font-size: 15px;
  color: white;
}
/* telegram */

/* tiktok */
.links-tiktok {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  border: solid black;
  border-width: 2px;
  width: 100px;
  display: flex; /* Membuat container menjadi flex container */
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  font-size: 15px;
}

.links-tiktok:hover {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background: #833ab4;
  background: linear-gradient(to top, #010101, #ffffff, #0689b9, #ee1d52);

  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 80px;
  font-size: 15px;
  color: white;
}
/* tiktok */

/* Footer */
footer {
  display: 100%;
  position: fixed; /* Menggunakan posisi tetap untuk selalu menempatkannya di bagian bawah */
  bottom: 0; /* Menempatkannya di bagian paling bawah */
  left: 0;
  width: 100%; /* Lebarkan footer hingga ke seluruh lebar layar */
  background-color: #333;
  color: #fff;
  padding: 1px;
  margin: 1px;
  text-align: center;
}
